body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 0 0;
    
    width: 100vw;
    height: 100vh;
}

.quadrant {
    background-color: grey;
    border: 8px solid black;
}