body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 0 0;
    
    gap: 8px;
    background-color: #477381;

    width: 100vw;
    height: 100vh;
}

.quadrant {
    background-color: #0b2027;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.shape {
    height: 100px;
    width: 100px;
}

.highlighted {
    filter: brightness(115%)
}

.shape__triangle {

}